streamlit==1.41.1          # Framework pour l'application web
pandas==2.2.3              # Manipulation de données
numpy==2.2.1               # Calculs numériques
requests==2.32.3           # Requêtes HTTP
joblib==1.4.2              # Sérialisation et parallélisation
scikit-learn==1.6.1        # Algorithmes de machine learning
python-dotenv==1.0.1       # Variables d'environnement
dill==0.3.9                # Sérialisation avancée
matplotlib==3.10.0         # Visualisation
seaborn==0.13.2            # Visualisation avancée
folium==0.19.4             # Cartographie interactive
streamlit-folium==0.24.0   # Intégration de folium avec Streamlit